.Rproj.user
.Rhistory
.RData
.Ruserdata

# python large dataset and model, defer it to google drive
*.feather
*.joblib

# python and virtual env specific
.pytest_cache/
__pycache__/
.env/
env/

# R related
dist_mat.rda
BBMM_out.rda
*.Rproj
